body {
	margin: 0px;
	font-family: sans-serif;	
}

.CodeMirror {
	box-sizing: border-box;
    width: 100%;
    height: auto;
}

#editor .CodeMirror {
	--min-height: 40px;
	border: 3px solid #FFF2BD;
	border-radius: 10px;
}

#history .CodeMirror {
}

#history .CodeMirror-cursor {
	display: none;
}

#history .query {
}

#history .result {
}

#history .result .querying {
	width: 20px;
	height: 20px;
	background-color: green; //TODO find a nice spinning icon image.
}

#history .result table {
	margin: 10px;
	border-collapse: collapse;
}

#history .result table th  {
	background-color: #ccccff;
}

#history .result table td, #history .result table th  {
	border: 1px solid #cccccc;
	padding: 3px 6px 3px 6px;
}

#history .result .error {
	border: 1px solid #cc3333;
	background-color: #eecccc;
	margin: 10px;
}